body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(./data/images/background.png);
  background-size: cover;
}

a {
  text-decoration: none;
  color: rgb(78, 78, 78);
  cursor: pointer;
  text-decoration: none;
}

.character__container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.header,
.searchbar {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  transition: all 0.3s ease-in-out;
}
.header:hover {
  transform: scale(1.3);
}

.searchbar__input {
  width: 400px;
  height: 40px;
  margin-left: 10px;
  border: solid #45c9dd 5px;
  border-radius: 25px;
  font-size: 1.2rem;
  outline: none;
}
.searchbar__button {
  font-size: 1rem;
  font-weight: 800;
  color: #379faf;
  width: 100px;
  height: 52px;
  border: solid #45c9dd 5px;
  border-radius: 25px;
  outline: none;
}

.characters {
  max-width: 1200px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 40px;
}

.card {
  border: solid #45c9dd 10px;
  width: 250px;
}

.card__name {
  background-color: #a9f3fd;
  font-size: 1.5rem;
  display: flex;
  max-width: 100%;
  height: 60px;
  margin: 0;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card__info {
  background-color: #a9f3fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4px;
  padding: 8px 0 8px 0;
}

.card__img {
  max-width: 100%;
  margin: 0;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccc;
}

.modal__content {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.modal .page {
  transition: 0.5s all;
}
